body {
    display: grid;
    background-color: rgb(255, 255, 255);
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: .2fr 2fr .2fr;
}

#border {
    border: 2px red dotted;
}

#border2 {
    border: 5px green solid
}


/* --------------------header/menu--------------- */
.header {
    /* position: sticky; */
    top: 0;
    left: 0;
    right: 0;
    grid-row: 1 / 2;
    grid-column: 1 / 4;
    background-color: maroon;
}

.header-list {
    display: flex;
    justify-content: space-evenly;
}

#highlight {
    font-weight: 900;
}

#dropdown {
    display: none;
    position: absolute;
        background-color: rgb(255, 255, 255)
}

/* ---------------links/text-content ------------- */

.main-content {
    display: grid;
    grid-template-columns: .5fr 1fr 1fr;
    grid-column: 1 / 4;
    grid-row: 2 / 3;
}

.text-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.box-display {
    margin: 10px;
    background-color: grey;
    width: 500px;
    height: auto;
    font-size: 20px;
}

/* ---------------contact form----------------- */
.form-container {
    display: flex;
    flex-direction: column;
}

/* -------------------------------------- */

.slider-links {
    /* display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: start; */
    height: 300px;
    width: 100px;
    position: relative;
    overflow: hidden;
}

.slide {
    /* display: flex; */
    position: absolute;
    transition: all 0.5s;
}

a {
    text-decoration: none;
    color: black
}

.slide img {
    width: 100px;
    height: auto;
    object-fit: cover;
}

#btn {
    position: absolute;
    cursor: pointer;
    background-color: green;
    width: 40px;
    height: 40px;
    padding: 10px;
    z-index:10px;
}

#btn:active {
    transform: scale(1.1)
}

.previous {
    top: 45%;
    left: 2%;
}

.next {
    top: 45%;
    right: 2%;
}

/* ------------------------------------- */

.footer {
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
    grid-column: 1 / 4;
    grid-row:  3 / 4;
    background-color: maroon;
}